button{
    border: 0;

    background-color: #fff;
    color:black;

    border-radius: 2.5rem;
    transition: 200ms;
    padding: 0.5rem 3rem ;

    margin-top: 2rem;

    
}

button:hover{
    filter: brightness(50%);
}